:root {
    --dark: #201f1f;
    --light: #ffffff;
    --primary: #5f05d4;
    --light-neutral: #eeeeee;
    --mid-neutral: #c9c9c9;
    --highlight: #49c8e7;
    --secondary: #0b756b;
    --highlight-faded: #49c8e7cc;
    --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --serif: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

code,
pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/** CONTAINERS **/
.page-container {
    margin: 5vh 10vw;
}

.code-container, .code-line {
    position:relative;
}

.code-container > .source-code {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
}

.code-container > canvas, .code-container > .source-code {
    position:absolute;
    pointer-events: none;
}

/** TEXT **/
h1 {
    font-family: var(--serif);
}

pre {
    overflow: hidden;
}

/** CODE DISPLAY **/
.code-container div.line-number, .code-container div.code-line {
    margin-top:12px;
}

.line-number {
    text-align: right;
    margin-right: 6px;
    color: var(--mid-neutral);
}

.line-number pre, .code-line pre {
    margin:0;
    display: inline;
}

#hidden-pre {
    visibility: hidden;
}

.highlight {
    position:absolute;
    background-color: var(--highlight-faded);
}

.highlight:hover {
    border: var(--primary) solid 2px;
    cursor: pointer;
}