:root {
    --dark: #201f1f;
    --light: #ffffff;
    --primary: #5f05d4;
    --primary-faded: #5f05d477;
    --light-neutral: #eeeeee;
    --light-neutral-faded: #c9c9c977;
    --mid-neutral: #c9c9c9;
    --highlight: #49c8e7;
    --secondary: #0b756b;
    --highlight-faded: #49c7e777;
    --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    --serif: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--sans-serif);
    font-size: 12;
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

code,
pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    tab-size: 4;
}

.no-margin {
    margin:0 !important;
}

.mt1 {
    margin-top: 1em;
}

.mt2 {
    margin-top: 2em;
}

.mb1 {
    margin-bottom: 1em;
}

.mb2 {
    margin-bottom: 2em;
}

.smaller-txt {
    font-size: 0.8em;
}

/** CONTAINERS **/
.page-container {
    margin: 5vh 5vw;
}

.progress-container {
    width: calc(100% - 400px);
    margin-top: 2em;
}

.basic-container {
    margin-top: 2em;
}

.results-container {
    display: grid;
    grid-template-columns: auto 400px;
    
    column-gap: 1em;
}

.settings {
    background-color: var(--light-neutral);
    padding: 0.5em;
    border-radius: 12px;
}

.code-container, .source-code, .code-line, .info-container {
    position:relative;
}

.code-container {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) auto;
    border: solid 1px var(--mid-neutral);
    overflow: hidden;
}

/** TEXT **/
h1, h2, .serif {
    font-family: var(--serif);
}

pre {
    overflow: hidden;
}

p, li {
    line-height: 1.5em;
}

.file-filters p {
    line-height: 1em;
}

.centre-align {
    text-align: center;
}

.screenreader-only {
    position:absolute;
    left: -9999px;
}

.small {
    font-size: 0.6em;
    font-style: italic;
}

/** CUSTOM INPUTS **/
.custom-btn {
    cursor: pointer;
    background-color: var(--mid-neutral);
    padding: 0.5em;
    border-radius: 6px;
    margin-right: 1em;
    font: inherit;
    border: none;
}

.toggle-button {
    background: inherit;
    padding: 0.5em 1em;
    width: 100%;
    text-decoration: underline;
    border: none;
    font:inherit;
    cursor: pointer;
    text-align: left;
}

.toggle-button:hover {
    color: var(--highlight);
}

.custom-btn.disabled {
    pointer-events: none;
    background-color: var(--light-neutral);
}

.custom-btn:hover, .custom-btn:focus {
    background-color: var(--highlight);
}

input[type="file"] {
    position:absolute;
    left: -999999px;
}

.button-section {
    margin: 2em 0 1em 0;
}

.select-container {
    position:relative;
    width:80%;
    margin-left:10%;
    margin-right:10%;
}

.file-select {
    width: 100%;
    appearance: none;
    background: var(--light); /*transparent;*/
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: 1px solid var(--mid-neutral);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    position:relative;
}

.select-container:after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: var(--mid-neutral);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    position: absolute;
    pointer-events: none;
    top:11px;
    right:11px;
}

.select-container:hover .file-select {
    border: 1px solid var(--highlight);
}

.select-container:hover:after {
    background-color: var(--highlight);
}

input[type="number"] {
    outline: none;
    width:100px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: 1px solid var(--mid-neutral);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    position:relative;
    margin: 0em 0.6em;
}

.file-select:focus, .input[type="number"]:focus {
    outline: solid 1px var(--primary);
}

/** NAVIGATION **/

ul.navigation {
    padding-left: 0;
}

.navigation li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
    border-bottom: solid 6px var(--mid-neutral);
}

.navigation .current {
    border-bottom: solid 6px var(--primary);
}

.navigation .active:hover {
    border-bottom: solid 6px var(--highlight);
}

.navigation a {
    text-decoration: none;
    color: var(--dark);
}

.navigation .inactive > a {
    color: var(--mid-neutral);
    pointer-events: none;
}

.file-navigation {
    display: grid;
    grid-template-columns: 20px auto 20px;
    align-items: center;
    column-gap: 1em;
}

.step-button {
    background: transparent;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    padding: 0;
    cursor: pointer;
}

.prev {
    border-right:20px solid var(--mid-neutral);
}

.prev:hover {
    border-right:20px solid var(--highlight);
}

.next {
    border-left:20px solid var(--mid-neutral);
}

.next:hover {
    border-left:20px solid var(--highlight);
}

.prev.inactive, .next.inactive {
    pointer-events: none;
}

.prev.inactive {
    border-right: 20px solid var(--light-neutral);
}

.next.inactive {
    border-left: 20px solid var(--light-neutral);
}

/** CODE DISPLAY **/
.code-container div.line-number, .code-container div.code-line {
    margin-top:1em;
    padding:0;
    height:1.2em;
}

.line-number {
    text-align: right;
    margin: 0 0.5em;
    color: var(--mid-neutral);
}

.line-number pre, .code-line pre {
    margin:0;
    display: inline;
}

#hidden-pre {
    visibility: hidden;
}

.code-line {
    pointer-events: none;
    min-height: 1em;
}

.source-code {
    overflow-x: scroll;
}

.lines:last-child {
    margin-bottom: 0.2em;
}

.highlight, .highlight div {
    position:absolute;
    background-color: var(--light-neutral-faded);
    border: solid 1px var(--light-neutral);
    cursor: pointer;
}

.highlight-selected, .highlight-selected div {
    background-color: var(--highlight);
    border:solid 1px var(--highlight);
}

.highlight-hover, .highlight-hover div {
    cursor: pointer;
    background-color: var(--highlight-faded);
    border:solid 1px var(--highlight);
    z-index:100;
}

.symptom-info {
    position: absolute;
    font-size: 0.6em;
    top: -2.2em;
}

.highlight-selected .symptom-info, .highlight-hover .symptom-info {
    color: var(--highlight);
    font-weight: bold;
}

#symptom-canvas {
    display: none;
}

/** SYMPTOM INFO **/
.info-card {
    width: 100%;
    background-color: var(--light);
    border: solid 1px var(--light-neutral);
    border-radius: 12px;
    box-shadow: 0px 0px 5px var(--mid-neutral);
    position:absolute;
    overflow: hidden;
    cursor: pointer;
}

.info-card-selected{
    border-color: var(--highlight);
    z-index: 1000;
}

.info-card-hover {
    border-color: var(--highlight);
    z-index: 1001;
}

.info-header {
    padding: 0.5em 1em;
    background-color: var(--light-neutral);
}

.info-card-selected .info-header {
    background-color: var(--highlight);
}

.info-body {
    padding: 0.5em 1em;
    width: 100%;
}

.info-body pre {
    width: 100%;
    overflow-x: scroll;
}

.info-card h3 {
    margin: 0;
}

/** PROGRESS BAR **/
.progress-bg {
    width:100%;
    border: solid 1px var(--light-neutral);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

.progress-info {
    font-size: 0.6em;
    font-style: italic;
    margin: 0.6em;
}

.progress-fill {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--highlight);
    z-index: -1;
}

/** RESULTS TABLE **/
.results-table {
    border: solid 1px var(--mid-neutral);
    border-spacing: 0;
}

.results-table th {
    background-color: var(--light-neutral);
    text-align: left;
    cursor: pointer;
}

.results-table:not(.no-sort) th:hover {
    background-color: var(--highlight-faded);
}

.results-table td {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px var(--light-neutral);
}

.results-table tr:last-child td {
    border-bottom: 0;
}

.results-table th, .results-table td {
    padding: 0.5em 1em;
}

/** FILTER **/
.file-filters {
    position: inherit;
    width:400px;
}

.toggle-container {
    width: 400px;
    overflow:hidden;
    position:absolute;
    z-index: 1001;
    
    animation-fill-mode: forwards;
    height: 2.5em;
}

.filter-container {
    position:absolute;
    width:100%;
    padding:1em;
    top:calc(-350px + 3.5em);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    z-index: -1;
}

.filter-controls {
    display:flex;
    width: 100%;
    justify-content: right;
}

.filter-controls h3 {
    flex-grow: 1;
    line-height: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.filter-controls .custom-btn:last-child {
    margin-right: 0em;
}

.filter-section {
    margin-top: 0.5em;
    max-height: 275px;
    overflow-y:scroll;
    border: solid 1px var(--mid-neutral);
    border-radius: 6px;
    padding:0.5em;
}

@keyframes pop-out {
    from {
        background-color: var(--light-neutral);
        border-radius: 12px;
        box-shadow: 0px 0px 5px var(--light-neutral);
    }
    to {
        background-color: var(--light);
        border-radius: 12px;
        box-shadow: 0px 0px 5px var(--mid-neutral);
    }
}

@keyframes pop-back {
    from {
        background-color: var(--light);
        border-radius: 12px;
        box-shadow: 0px 0px 5px var(--mid-neutral);
    }
    to {
        background-color: var(--light-neutral);
        border-radius: 12px;
        box-shadow: 0px 0px 5px var(--light-neutral);
    }
}

@keyframes slide-in {
    from {
        top: calc(-350px + 3.5em);
    }
    to {
        top: 2em;
    }
}

@keyframes grow {
    from {
        height: 2.5em;
    }
    to {
        height: calc(300px + 3.5em);
    }
}

@keyframes slide-out {
    from {
        top: 2em;
    }
    to {
        top:calc(-350px + 3.5em);
    }
}

@keyframes shrink {
    from {
        background-color: var(--light);
        border-radius: 12px;
        box-shadow: 0px 0px 5px var(--mid-neutral);
        height: calc(300px + 3.5em);
    }
    to {
        background-color: var(--light);
        border-radius: 12px;
        box-shadow: 0px 0px 5px var(--mid-neutral);
        height: 2.5em;
    }
}

.filter-container.show {
    animation-name: slide-in;
    animation-delay: 0.25s;
}

.filter-container.hide {
    animation-name: slide-out;
}

.toggle-container.show {
    animation-name: pop-out, grow;
    animation-duration: 0.25s, 0.5s;
    animation-delay: 0s, 0.25s;
}

.toggle-container.hide {
    animation-name: shrink, pop-back;
    animation-duration: 0.5s, 0.25s;
    animation-delay: 0s, 0.5s;
}

/** TOOLTIP **/
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.tooltip:hover {
    color: var(--highlight);
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 300px;
    background-color: var(--light);
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    padding: 0 0.5em;
    border-radius: 6px;
    transform: translateY(50%);
    border: solid 1px var(--highlight);
    position: absolute;
    z-index: 10;
    bottom: 50%;
    left: 100%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 5px var(--mid-neutral);
  }
  
  .tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: calc(0% - 12px);
    border-width: 6px;
    border-style: solid;
    border-color: transparent var(--highlight) transparent transparent;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }